html {
    font-size: 62.5%;
}

a:hover {
    text-decoration: none;
}
.uk-button-text {
    &:hover {
    color: $nav-text-color;
    }

    &::before{
        border-bottom: .1rem solid $nav-text-color;
    }
}