.l-nav {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    background: $nav-background-color;

    &--home {
        margin-bottom: 0;
    }
    
    &__list {
        display: flex;
        margin: auto 0;
    }

    &__item {
        margin-right: 1rem;
        list-style: none;
    }

    &__link {
        text-decoration: none;
        padding: 1rem;
        margin-right: 3rem;
        color: $nav-text-color;
        
    }
}