.o-article {
    width: 33.333%;
    border: solid .2rem #3d3d3d;
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: .5rem .5rem .5rem rgba(61,61,61,0.8);

    &::after{
        clear: both; 
        content: "";
        display: block;
    }

    
    &__img {
        width:100%;
        display: block;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    &__text {
        margin: 1rem;
    }
}