.o-article {
    width: 30%;
    border-radius: 1rem;
    margin: 2rem;
    box-shadow: $box-shadow;
    
    &::after{
        clear: both; 
        content: "";
        display: block;
    }

    
    &__title {
        font-size: $font-size-title;
        margin: 1rem;
    }

    &__img {
        width:100%;
        display: block;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    &__text {
        margin-left: 1rem;
        font-size: 1.6rem;
    }
}