$sliderImgSize: 50%;

$logo-background-color: #FF0000;
$nav-text-color: #fff;
$nav-background-color: #000;

$font-size-title: 3rem;
$font-size-subtitle: 2.3rem;
$font-size-text: 1.6rem;

$border-bottom: .1rem solid #222;
$border-bottom-thick: .2rem solid #222;

$box-shadow: 0 1rem 2rem rgba(61,61,61,0.8);